<div class='edit'>
  {{>Button type='edit' text='Edit profile' route='/edit-profile'}}
  {{>Button type='edit' text='Change password' route='/change-password'}}
  {{>Button type='edit' text='Sign out' route='/signin'}}
</div>