<div class='edit'>
  {{>Link type='edit' linkText='Edit profile' to='/edit-profile'}}
  {{>Link type='edit' linkText='Change password' to='/change-password'}}
  {{>Link type='edit' linkText='Sign out' to='/login'}}
</div>
