<div class="login">
  {{#> AuthForm  title='Sign In' ref="loginForm"}}
    <fieldset class='auth-form__set'>
      {{{ InputAuth validateType='loginValidation' ref='login' name='login' classType='auth' label="Login" placeholder="Enter your login"}}}
      {{{ InputAuth validateType='passwordValidation' ref='password' name='password' classType='auth' label="Password" placeholder="Enter your password"}}}
    </fieldset>
    <div class='auth-form__footer'>
      {{{ Button type='save' text='Enter' onSubmit=onLogin ref="signIn" page='ChatPage'}}}
      {{{ Link linkText='Create profile' to='/signup' type='auth' page='Signup' onClick=toSignup}}}
    </div>
  {{/AuthForm}}
</div>
