@mixin font-props($weight, $size) {
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  line-height: normal;
}

.user {
  display: flex;
  width: 410px;
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid var(--gray);

  &:last-of-type {
    border: none;
  }

  &__input {
    @include font-props(400, 13px);
    border: none;
    padding: 0;
    text-align: right;
    width: 200px;
    width: 100%;
    border-bottom: 1px solid transparent;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }

  &__label {
    @include font-props(500, 14px);
    color: var(--text);
    width: 180px;
  }
}

.auth {
  width: 280px;
  position: relative;

  &__input {
    @include font-props(400, 13px);
    width: 280px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--gradient, #15bffd);
    background-color: rgba(255, 255, 255, 5%);
    padding: 10px;

    &:focus {
      outline: none;
    }
  }

  &__label {
    @include font-props(500, 9px);
    width: 150px;
    color: var(--border);
  }
}

.search {
  &__input {
    @include font-props(400, 13px);
    background-color: transparent;
    border: none;
    padding-left: 22px;
    max-width: 1000px;
    width: 100%;
    outline: none;
    color: var(--gray);

    &:focus {
      outline: none;
    }
  }
}

.message {
  &__input {
    @include font-props(400, 13px);
    border: none;
    padding-left: 22px;
    max-width: 1000px;
    width: 100%;
    outline: none;
    color: var(--gray);
    background-color: var(--light-background);
    border-radius: 10px;

    &:focus {
      outline: none;
    }
  }
}

.file {
  &__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
  }

  &__span {
    color: var(--border);
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}

.error_visible {
  opacity: 1;
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  transition: 0.4s;
}

.item-error {
  @include font-props(400, 10px);
  position: absolute;
  color: var(--pink);
  opacity: 1;
}
