<section class="chat">
  <div class="chat__sidebar">
    {{{Link
      linkText="Profile"
      onClick=toProfile
      to="/profile"
      type="profile"
      iconLink="profile"
      page="ProfilePage"
    }}}
    {{{InputSearch name="search" ref="search" onClick=onClick}}}
    <ul class="chat__list">
      {{#each chats as |chat|}}
        {{{ChatItem chat=chat}}}
      {{/each}}
    </ul>
  </div>
  {{{Messages}}}
</section>