<section class="container container_position_center not-found">
  <h2 class="not-found__title">500</h2>
  <p class="not-found__subtitle">We are fixing it </p>
  {{>Link linkText="Back to chats" route='/'}}
</section>