<section class="profile">
  <div class="profile__left">
    {{{SideLink}}}
  </div>
  <div class="profile__right">
    {{{ProfileForm user=user}}}
    {{{Edit}}}
  </div>
  {{{Modal
    title="Download file"
    onSubmit=onSubmitAvatar
    id="avatar"
    type="file"
    name="avatar"
    class="file__input"
    accept="image/png, image/jpeg"
    label="Choose file from computer"
    text="Change"
  }}}
  <div class="profile__shadow"></div>
</section>