<section class="profile">
  <div class="profile__left">
    {{{SideLink}}}
  </div>
  <div class="profile__right">
    {{{ProfileForm user=user}}}
    {{{Edit}}}
  </div>
  {{{Modal title="Download file" onSubmitAvatar=onSubmitAvatar}}}
  <div class="profile__shadow"></div>
</section>