<form class="chat__form">
  {{{Input
    name="search"
    type="text"
    classType="search"
    value=user.search
    ref="input"
    placeholder="Search"
  }}}
  {{{Button type="search" onSubmit=onClick}}}
</form>
