<form class="auth-form auth-form_absolute" action="submit">
  <div class="auth-form__header">
    <h2 class="auth-form__title">{{title}}</h2>
  </div>
  <fieldset class="auth-form__set">
    <label>
      <input
        id="avatar"
        type="file"
        name="avatar"
        class="file__input"
        accept="image/png, image/jpeg"
      />
      <span class="file__span">Choose file from computer</span>
    </label>
    <div class="avatar-form__footer">
      {{{Button
        onSubmit=onSubmitAvatar
        type="save"
        text="Change"
        route="/profile"
        page="ProfilePage"
      }}}
    </div>
  </fieldset>
</form>