<div class="modal__container {{#if open}}modal__container_open{{/if}}">
  {{{Modal
    id="newChat"
    title="Add New Chat"
    type="input"
    text="Add"
    class="auth__input"
    placeholder="Add Chat Title"
    onSubmit=onAddNewChat
  }}}
  <div class="profile__shadow"></div>
</div>
