<form class='form' action='submit'>
  {{>Avatar user=user}}
  <fieldset class='profile__set'>
      {{#if isPasswordChange}}
        {{> Input classType='user' id='oldPassword' name='oldPassword' type='password' value=user.password placeholder='Password' label='Old password' }}
        {{> Input classType='user' id='newPassword' name='newPassword' type='password' value=user.password placeholder='Password' label='New password' }}
        {{> Input classType='user' id='repeatPassword' name='repeatPassword' type='password' value=user.password placeholder='Password' label='Repeat password' }}
      {{else}}
        {{> Input classType='user' id='email' name='email' type='email' value=user.email placeholder='Enter your email' label='Email' }}
        {{> Input classType='user' id='login' name='login' type='text' value=user.login placeholder='Enter your login' label='Login'}}
        {{> Input classType='user' id='first_name' name='first_name' type='text' value=user.first_name placeholder='Enter_your_name' label='Name'}}
        {{> Input classType='user' id='second_name' name='second_name' type='text' value=user.second_name placeholder='Enter your surname' label='Surname'}}
        {{> Input classType='user' id='display_name' name='display_name' type='text' value=user.display_name placeholder='Enter your username' label='Username'}}
        {{> Input classType='user' id='phone' name='phone' type='text' value=user.phone placeholder='Enter your phone' label='Phone'}}
      {{/if}}
      {{#if isEdit}}
        {{> Button type='save' text='Save'}}
      {{/if}}
  </fieldset>
</form>