<div class="edit">
  {{{Link
    type="edit"
    linkText="Edit profile"
    to="/edit-profile"
    page="EditProfilePage"
  }}}
  {{{Link
    type="edit"
    linkText="Change password"
    to="/change-password"
    page="EditPasswordPage"
  }}}
  {{{Link type="edit" linkText="Sign out" to="/login" page="Login"}}}
</div>
