<div class="edit">
  {{{Link
    type="edit"
    linkText="Edit profile"
    onClick=toEditProfile
    page="EditProfilePage"
  }}}
  {{{Link
    type="edit"
    linkText="Change password"
    onClick=toChangePassword
    page="EditPasswordPage"
  }}}
  {{{Link type="edit" linkText="Sign out" onClick=onSignOut page="Login"}}}
</div>