<form class='auth-form' action='submit'>
  <div class='auth-form__header'>
    <h2 class='auth-form__title'>{{title}}</h2>
    {{> Divider}}
  </div>
  <fieldset class='auth-form__set'>
      {{> @partial-block }}
  </fieldset>
</form>
