@mixin screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-form {
  @include screen;
  max-width: 340px;
  border: 1px solid var(--border);
  padding: 20px;
  border-radius: 10px;

  &__title {
    margin: 25px 0;
  }

  &__header {
    @include screen;
  }

  &__set {
    @include screen;
    gap: 10px;
    padding: 0;
    border: none;
    min-width: 280px;
    margin: 30px 0 0 0;
  }

  &__footer {
    @include screen;
    gap: 20px;
  }

  &_absolute {
    top: 50%;
    right: 50%;
    transform: translate(60%, -50%);
  }
}
