<div class="modal__container {{#if open}}modal__container_open{{/if}}">
  {{{Modal
    id="newUser"
    title="Add User to Conversation"
    type="input"
    text="Add"
    class="auth__input"
    placeholder="Add user"
    onAddNewUser=onAddNewUser
  }}}
  <div class="profile__shadow"></div>
</div>
