<div class="modal__container {{#if open}}modal__container_open{{/if}}">
  {{{Modal
    id="newUser"
    title="Add User to Conversation"
    type="search"
    text="Add"
    class="auth__input"
    placeholder="Add user"
    onSubmit=onAddNewUser
    search='Search by Login'
  }}}
  <div class="profile__shadow"></div>
</div>
