<section class="profile">
  <div class="profile__left">
    {{{SideLink}}}
  </div>
  <div class="profile__right">
    {{{EditPassword user=user isEdit=isEdit page="ProfilePage"}}}
  </div>
</section>
