<div class="modal__container {{#if open}}modal__container_open{{/if}}">
  {{{Modal
    id="newUser"
    title="Delete User"
    type="delete"
    text="Delete"
    class="auth__input"
    placeholder="Add user"
    onSubmit=onDeleteUser
    delete='Delete User'
  }}}
  <div class="profile__shadow"></div>
</div>
