<div class="modal__container {{#if open}}modal__container_open{{/if}}">
  {{{Modal
    id="newUser"
    title="Delete User"
    type="search"
    text="Delete"
    class="auth__input"
    placeholder="Add user"
    onSubmit=onDeleteUser
    search='Search by Login'
  }}}
  <div class="profile__shadow"></div>
</div>
