<div class="modal__container {{#if open}}modal__container_open{{/if}}">
  {{{Modal
    title="Download file"
    onSubmit=onSubmitAvatar
    id="avatar"
    type="file"
    name="avatar"
    class="file__input"
    accept="image/png, image/jpeg"
    label="Choose file from computer"
    text="Change"
  }}}
  <div class="profile__shadow"></div>
</div>
